* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1F7FA;
}
ul {
    list-style-type: none;
  }


@media (min-width: 991.98px) {
    main {
       padding-left: 240px;
    }
}
@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
    #pepperProfile{
        width: 15vw;
    }
    label{
        font-size: 12px;
    }
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; 
    width: 240px;
    z-index: 600;
}
main {
    margin-top: 58px;
}
.sidebar .active {
    border-radius: 5px;
    background-color: #8583FF;
    color: white;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

#logo {
    background-image: url("../images/SmartForkIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 31px 65px 31px 65px;
    margin-left: 10px;
}

#sidebarMenu a:hover {
    background-color: #8583FF;
    border-radius: 5px;
    color: white;
}
#userList a {
    background-color: white;
}
#userList a:hover {
    background-color: #F1F7FA;
}
#breadcrumb a{
    text-decoration:none;
    font-size: 24px;
}
#breadcrumb a .selected{
    color: #8583FF;
}
.searchBox {
    border-color:  #8583FF;
}
.searchBtn{
    border-color:  #8583FF; 
    color: #8583FF;
}

.searchBtn:hover{
    background-color: #8583FF;
    color: white;
}
.strong-blue {
    background-color: #8583FF;
}

.light-blue {
    background-color: #F1F7FA;
}
.color-blue {
    color: #8583FF;
}
.strong-red{
    color: #CB0A0A  ;
}
.strong-orange{
    color: #F4671F;
}
.strong-green{
    color :#07C703;
}
.text-darker{
    color: #3A3541;
}
.text-grey {
    color : #89868D;
}
.person:hover{
    background-color: #F1F7FA;
}
span,label,a {
    font-family: 'DM Sans';
}
label{
    font-size: 14px;
    font-family: 'DM Sans';
}
a{
    text-decoration:none;
}
.sos {
    position: fixed;
    bottom: 10px; 
    left: 72vw;
  }
.flexbox {
    display: flex;
    justify-content: space-between;
}
#white_parg{
    background-color: white;
}
#submit:hover{
    background-color: green;
}
#btnProfile:hover{
    background-color: #8583FF;
}
.dark-mode {
    background-color: black;
    color: white;
}
table {
    border-collapse: collapse;
}
tbody {
    background-color: white;

}

tr {
    cursor: pointer;
}

tr:hover {
    background-color: #F1F7FA;
}

th, td {
    padding: 0;
    margin: 0;
}
#check:hover{
    background-color: #8583FF;
}
#check:checked{
    background-color: #8583FF;
}