* {
    margin: 0;
    padding: 0;
}
#logo {
    
}
.nav-pills li a:hover {
    background-color: #8583FF;
    color: white;
}
#userList a {
    background-color: white;
}
#userList a:hover {
    background-color: #F1F7FA;
}
#breadcrumb a{
    text-decoration:none;
    font-size: 24px;
}
#breadcrumb a .selected{
    color: #8583FF;
}
.searchBox {
    border-color:  #8583FF;
}
.searchBtn{
    border-color:  #8583FF; 
    color: #8583FF;
}

.searchBtn:hover{
    background-color: #8583FF;
    color: white;
}
.strong-blue {
    background-color: #8583FF;
}

.light-blue {
    background-color: #F1F7FA;
}
.color-blue {
    color: #8583FF;
}
.strong-red{
    color: #CB0A0A  ;
}
.strong-orange{
    color: #F4671F;
}
.strong-green{
    color :#07C703;
}

.text-darker{
    color: #3A3541;
}
.text-grey {
    color : #89868D;
}
.person:hover{
    background-color: #F5F5F5;
}
span,label,a {
    font-family: 'DM Sans';
}
label{
    font-size: 12px;
    font-family: 'DM Sans';
}
a{
    text-decoration:none;
}
.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
  }
.flexbox {
    display: flex;
    justify-content: space-between;
}
#white_parg{
    background-color: white;
}

#titleSize{
    font-size: 24px;
}
#submit:hover{
    background-color: green;
}
